* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 70px;
	background: #FFFFFF;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 50px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 270px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
	background: #FFFFFF;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1000px;
	margin: -50px auto 0;
	height: 50px;
	background: #FFFFFF;
	position: relative;
}

/* Old styles
------------------------------------------------------------------------------*/
fieldset {
	border: none;
}
h2 {
    font-size: 24px;
    line-height: 26px;
}
li {
	line-height: 18px;
}
.brand {
	display: block;
	float: left;
	padding: 8px 20px 12px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	line-height: 1;
	color: #999;
}
.nav {
	list-style: none;
	position: relative;
	left: 0;
	display: block;
	margin: 0 10px 0 0;
}
.nav.pull-right {
	margin-right: 0;
	margin-left: 10px;
	float: right;
}
.nav-collapse li {
	display: block;
	float: left;
}
.nav>li>a {
	display: block;
	float: none;
	padding: 9px 10px 11px;
	line-height: 19px;
	color: #999;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.nav>li.active>a {
	color: #000;
}
.author-logo {
	width: 300px;
	float: left;
	margin: 10px;
}
.author-block {
	vertical-align: top;
	max-width: 700px;
	font-size: medium;
}
label {
    display: inline-block; 
	width: 7em;
}
fieldset div {
    margin-bottom: 2em;
}
fieldset .help {
    display: inline-block;
}
.ui-tooltip {
    width: 210px;
}
.page-header {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.page-header a {
	color: #000;
	text-decoration: none;
}
#contact-form {
	margin-top: 20px;
	margin-bottom: 20px;
}
/*backend
-------------------------------------------------------------------*/
.width-table {
	width: 100%;
}
.backend-video-form input {
	width: 300px;
}
.backend-video-form textarea {
	width: 300px;
	height: 50px;
}