* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 70px;
	background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 50px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 270px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1000px;
	margin: -50px auto 0;
	height: 50px;
	background: #BFF08E;
	position: relative;
}

/* Old styles
------------------------------------------------------------------------------*/

h2 {
    font-size: 24px;
    line-height: 26px;
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
[class*="span"] {
	float: left;
	margin-left: 20px;
}
input.span6, textarea.span6 {
    display: inline-block;
    float: none;
    margin-left: 0;
    width: 330px;
}

.span4 {
    width: 250px;
}

.span6 {
    width: 340px;
}

input, textarea, .uneditable-input {
    color: #333333;
    font-size: 14px;
    line-height: 19px;
    padding: 7px;
}

input, textarea {
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    padding: 4px;
    width: 210px;
}

.block.small.login {
    margin-bottom: 18px;
    margin-top: 30px;
    padding-bottom: 5px;
    width: 350px;
}

.block.small.register {
    margin-bottom: 18px;
    margin-top: 30px;
    padding-bottom: 5px;
    width: 350px;
}

.block.small.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block .block_head {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
    padding: 10px;
}

.block .block_head h2 {
	padding: 5px;
}

.block .block_content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}

div.center {
	text-align: center;
}

div.left {
	text-align: left;
}

div.right {
	text-align: right;
}

div.login-or-signup {
	padding-left: 50px;
	padding-top: 20px;
}

.author-logo {
	width: 300px;
	float: left;
	margin: 10px;
}
.author-block {
	vertical-align: top;
	max-width: 700px;
	font-size: medium;
}
.page-content {
	min-height: 300px;
}
li {
	line-height: 18px;
}
.brand {
	display: block;
	float: left;
	padding: 8px 20px 12px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	line-height: 1;
	color: #999;
}
.nav {
	list-style: none;
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}
.nav.pull-right {
	margin-right: 0;
	margin-left: 10px;
	float: right;
}
.nav>li {
	display: block;
	float: left;
}
.nav>li>a {
	display: block;
	float: none;
	padding: 9px 10px 11px;
	line-height: 19px;
	color: #999;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}